@model PersonalBlog.Models.Category
@using PersonalBlog.Services.Interfaces

@inject IImageService _imageService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ImageType" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col col-md-8 form-group">
                <label asp-for="CategoryImage" class="control-label"></label>
                <input asp-for="CategoryImage" class="form-control" accept=".png,.jpg,.jpeg,.gif,.svg"
                       onchange="document.getElementById('imageData').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="CategoryImage" class="text-danger"></span>
            </div>
            <div>
                @if (Model.ImageData != null)
                {
                    <img id="imageData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="@_imageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!)" />
                }
                else
                {
                    <img id="imageData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="/img/DefaultContactImage.png" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
